apiVersion: v1
kind: ResourceQuota
metadata:
  name: pipeops-quota
  namespace: pipeops
spec:
  hard:
    requests.cpu: "4"
    requests.memory: 8Gi
    limits.cpu: "8"
    limits.memory: 16Gi
    persistentvolumeclaims: "10"
    requests.storage: 100Gi
