apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: titanic-api
  namespace: argocd
  labels:
    app: titanic-api
spec:
  project: titanic-api-project
  source:
    repoURL: https://github.com/Gbenga1234/titanic-api 
    targetRevision: HEAD
    path: k8s
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: titanic-api
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  revisionHistoryLimit: 10