apiVersion: v1
kind: ResourceQuota
metadata:
  name: titanic-api-quota
  namespace: titanic-api
spec:
  hard:
    requests.cpu: "4"
    requests.memory: 8Gi
    limits.cpu: "8"
    limits.memory: 16Gi
    persistentvolumeclaims: "5"
    pods: "20"
    services: "10"
    configmaps: "10"
    secrets: "10"
