apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: pipeops
spec:
  template:
    spec:
      containers:
        - name: myapp
          env:
            - name: DEBUG
              value: "true"
