apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: pipeops
spec:
  template:
    spec:
      containers:
        - name: myapp
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
